<div style="width: 1000px; justify-content: center;">
    <h1 mat-dialog-title>All Absence Request On {{this.data.date | date: "dd-MM-yyyy"}}</h1>
    <mat-dialog-content>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Request</th>
            <th scope="col">Off Type</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of absenceViewDto; let i = index">
            <tr>
              <th scope="row">{{i + 1}}</th>
              <td scope="row">
                <span>{{item.absenceType}}</span>
                &nbsp;
                <span *ngIf="item.typeTimeOff !== 'COME_LATE' && item.typeTimeOff !== 'WENT_SOON'">{{item.typeTimeOff}}</span>
                <span *ngIf="item.typeTimeOff === 'COME_LATE' || item.typeTimeOff === 'WENT_SOON'">{{item.timeOff}}</span>
              </td>
              <td scope="row">{{item.absenceTypeOff}}</td>
              <td scope="row">{{item.reason}}</td>
              <td scope="row">{{item.status}}</td>
              <td scope="row">
                <ng-container *ngIf="item.status !== 'APPROVED' && item.status !== 'REJECTED'">
                  <button mat-raised-button color="primary" (click)="editAbsenceRequest(item.id, item.absenceType)">Edit</button>
                  &nbsp;
                  <button *ngIf="item.status === 'PENDING'" mat-raised-button color="warn" (click)="deleteAbsenceRequest(item.id, item.status)">Delete</button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-dialog-content>
  </div>