.content {
    background-color: white;
    height: 100vh;
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}