<mat-toolbar color="primary">
    <span>Timesheet</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Logout button" matTooltip="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
      <div class="profile">
        <div class="profile-content">
          <div class="avatar">
            <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="avatar" style="width: 60px;" class="rounded-circle">
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="basic-info">
            <p>Full Name</p>
            <p>Email</p>
          </div>
        </div>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="profile"><mat-icon aria-hidden="false" aria-label="Profile" fontIcon="icon">account_box</mat-icon>&nbsp;My Profile</a>
        <a mat-list-item routerLink="timesheet"><mat-icon aria-hidden="false" aria-label="Timesheet" fontIcon="icon">alarm</mat-icon>&nbsp;My Timesheets</a>
        <a mat-list-item routerLink="absence"><mat-icon aria-hidden="false" aria-label="AbsenceDay" fontIcon="icon">event_busy</mat-icon>&nbsp;My Request off/Remote/Onsite</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>